<%- include('partials/header') %>

<div class="form-card" style="text-align:center;">
  <h1><%= t.error.oops %></h1>
  <p class="error"><%= message %></p>
  <a href="/" class="btn btn-secondary">&larr; <%= t.error.back_to_home %></a>
</div>

<%- include('partials/footer') %>
